---
const {title, introduction, url, tags} = Astro.props
---
<div class="hover:scale-110 flex flex-col border-2 border-black rounded w-1/4 p-4">
    <a class="truncate" href={url}>{title}</a>
    <p class="text-xs truncate">{introduction}</p>
    <div class="flex flex-row">
        {
            tags.map(tag => <p class="text-xs"> {tag} </p>)
        }
    </div>
</div>